.player-wrapper {
  width: auto;
  height: auto;
}
.react-player {
  padding-top: 56.25%;
  position: relative;
}

.react-player > div {
  position: absolute;
}

.modal-backdrop {
  z-index: 100000 !important;
}

.modal {
  z-index: 100001 !important;
}
